.section__header.animate__animated.animate__fadeInDown
	.container
		a(href="index.html").header__logo 
			img(src="img/logo.png", alt="logo")
		.header__menu
			a(href="#cases__section").header__menu__item.js-header__menu__item Кейсы
			a(href="#developing__section").header__menu__item.js-header__menu__item Услуги
			a(href="#tell-us").header__menu__item.js-header__menu__item Контакты
		.header__other
			a(href="https://t.me/itspacegroup_bot").header__other__item.header__other__item__tg.header__other__lang--desc
				!="@itspacegroup_bot"
			a(href="mailto:mail@itspace.group").header__other__item.header__other__item__mail.header__other__lang--desc
				<svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M17.5 1.75C17.5 0.7875 16.7125 0 15.75 0H1.75C0.7875 0 0 0.7875 0 1.75V12.25C0 13.2125 0.7875 14 1.75 14H15.75C16.7125 14 17.5 13.2125 17.5 12.25V1.75ZM15.75 1.75L8.75 6.125L1.75 1.75H15.75ZM15.75 12.25H1.75V3.5L8.75 7.875L15.75 3.5V12.25Z" fill="#2A2A2A"/>
				</svg>
				!="mail@itspace.group"
			a(href="tel:+74999384899").header__other__item.header__other__item__fon
				<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10.7006 13.9195C8.38209 13.3253 6.26595 12.1188 4.57355 10.4264C2.88116 8.73405 1.67473 6.61791 1.0805 4.29945C0.626405 2.51558 2.16032 0.999999 4.00167 1L4.83487 1C5.29479 1 5.6639 1.3741 5.70972 1.83153C5.7845 2.59017 5.96366 3.33485 6.24213 4.04449L4.97568 5.31094C5.96413 7.37303 7.62697 9.03587 9.68905 10.0243L10.9555 8.75787C11.6651 9.03662 12.4098 9.21607 13.1685 9.29111C13.6267 9.3361 14 9.70521 14 10.1651L14 10.9983C14 12.8397 12.4844 14.3736 10.7006 13.9195Z" stroke="black" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
				!="+7(499) 938-48-99"
			//- a(href="tel:+74999384899").header__other__item.header__other__item__fon
			//- 	!="+7(499) 938-48-99"
			<button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>


.mob-menu__section
	.mob-menu--overlay
	.mob-menu
		.mob-menu__list
			a(href="#cases__section").mob-menu__list__item.js-header__menu__item  Кейсы
			a(href="#developing__section").mob-menu__list__item.js-header__menu__item  Услуги
			a(href="#tell-us").mob-menu__list__item.js-header__menu__item  Контакты
		.mob-menu__bottom
			.mob-menu__fone.mob-menu__link
				a(href="tel:+74999384899") +7(499) 938-48-99
			.mob-menu__mail.mob-menu__link
				a(href="https://t.me/itspacegroup_bot") @itspacegroup_bot
			.mob-menu__mail.mob-menu__link
				a(href="mailto:mail@itspace.group") mail@itspace.group
			.btn.btn--small.mob-menu__btn.js-header__menu__item(href="#tell-us") Оставить заявку
