.section__header.animate__animated.animate__fadeInDown
	.container
		a(href="index.html").header__logo 
			img(src="img/logo.png", alt="logo")
		.header__menu
			a(href="#cases__section").header__menu__item.js-header__menu__item Кейсы
			a(href="#developing__section").header__menu__item.js-header__menu__item Услуги
			a(href="#tell-us").header__menu__item.js-header__menu__item Контакты
		.header__other
			a(href="https://t.me/itspacegroup_bot").header__other__item.header__other__item__tg.header__other__lang--desc
				!="@itspacegroup_bot"
			a(href="mailto:mail@itspace.group").header__other__item.header__other__item__mail.header__other__lang--desc
				!="mail@itspace.group"
			a(href="tel:+74999384899").header__other__item.header__other__item__fon
				!="+7(499) 938-48-99"
			//- a(href="tel:+74999384899").header__other__item.header__other__item__fon
			//- 	!="+7(499) 938-48-99"
			<button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>


.mob-menu__section
	.mob-menu--overlay
	.mob-menu
		.mob-menu__list
			a(href="#cases__section").mob-menu__list__item.js-header__menu__item  Кейсы
			a(href="#developing__section").mob-menu__list__item.js-header__menu__item  Услуги
			a(href="#tell-us").mob-menu__list__item.js-header__menu__item  Контакты
		.mob-menu__bottom
			.mob-menu__fone.mob-menu__link
				a(href="tel:+74999384899") +7(499) 938-48-99
			.mob-menu__mail.mob-menu__link
				a(href="https://t.me/itspacegroup_bot") @itspacegroup_bot
			.mob-menu__mail.mob-menu__link
				a(href="mailto:mail@itspace.group") mail@itspace.group
			.btn.btn--small.mob-menu__btn.js-show-form(href="javascript:;") Оставить заявку
