mixin mixins()
    //- Компоненты
    include ../../blocks/components/v-card/v-card
    include ../../blocks/components/radio-block/radio-block

    //- Модули
    include ../../blocks/modules/footer/footer