mixin mixins()
	//- Компоненты
	include ../../blocks/components/v-card/v-card
	include ../../blocks/components/radio-block/radio-block
	include ../../blocks/components/field-file/field-file
	include ../../blocks/components/blog-card/blog-card
	include ../../blocks/components/copy-block/copy-block
	include ../../blocks/components/review-card/review-card
	include ../../blocks/components/slider-controls/slider-controls
	include ../../blocks/components/print-text/print-text
	include ../../blocks/components/tabs-block/tabs-block
	include ../../blocks/components/show-more/show-more
	include ../../blocks/components/achievements/achievements

	//- Модули
	include ../../blocks/modules/footer/footer
	include ../../blocks/modules/reviews-section/reviews-section
	include ../../blocks/modules/cases-slider/cases-slider
	include ../../blocks/modules/gallery/gallery