mixin mixins()
	//- Компоненты
	include ../../blocks/components/v-card/v-card
	include ../../blocks/components/radio-block/radio-block
	include ../../blocks/components/field-file/field-file
	include ../../blocks/components/blog-card/blog-card
	include ../../blocks/components/copy-block/copy-block
	include ../../blocks/components/review-card/review-card

	//- Модули
	include ../../blocks/modules/footer/footer
	include ../../blocks/modules/reviews-section/reviews-section