mixin cookie
    .cookie(data-js='cookie')
        .cookie__text.text-editor 
            p Мы используем файлы куки, чтобы на&nbsp;сайте всё&nbsp;работало. <a href="#">Подробнее</a>
        button.cookie__btn.btn--small(data-js='cookieBtn') Согласен