.field-file {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 20px 18px 20px 0;
    border-bottom: 1px solid $greyHover;
    transition: all $tr-time linear;
    margin: 0 0 40px;
    cursor: pointer;

    &:hover {
        border-color: $fonBlack;
    }

    &.field--invalid {
        .field-file__error {
            position: absolute;
            left: 0;
            top: calc(100% + 4px);
            display: block;
            color: $error;
            font-size: 14px;
        }

        .field-file__note {
            display: none;
        }
    }

    &--full {
        .field-file__fakeinput {
            .icon-empty {
                display: none;
            }

            .icon-full {
                display: block;
            }
        }

        .field-file__note {
            display: none;
        }
    }

    &__fakeinput {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 8px;
        color: $fonBlack;
        font-size: 18px;
        line-height: 1.4em;
        font-weight: 500;
        outline: none;
        cursor: pointer;
        transition: color $tr-time linear;
        word-break: break-all;

        @include max(md) {
            font-size: 20px;
        }

        @include max(xs) {
            font-size: 18px;
        }

        .icon-empty {
            width: 32px;
            height: 32px;
            display: block;
            flex-shrink: 0;

            svg {
                width: 32px;
                height: 32px;
                color: $greyBlack;
                transition: color $tr-time linear;
            }
        }

        .icon-full {
            display: none;
            width: 32px;
            height: 32px;
            flex-shrink: 0;

            &:hover svg {
                color: $blue;
            }

            &:hover~span {
                color: $fonBlack;
            }

            svg {
                width: 32px;
                height: 32px;
                transition: color $tr-time linear;
                color: $greyBlack;
            }
        }
    }

    &__note {
        position: absolute;
        bottom: 0;
        top: calc(100% + 4px);
        font-size: 14px;
        font-weight: 400;
        color: $greyBlack;
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        z-index: -10;
    }
}