extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "О нас";

block content
	section.section.section--top.section--bottom.about
		.container
			.about__intro
				h1.section__title.about__title.title__99 Студия <span>ITS&nbsp;GROUP</span>

				.about__text.text__24 Интегратор digital-решений. Наша специализация — интернет-маркетинг, веб и мобильная разработка, веб-дизайн, видеопродакшн и создание графики, создание и проведение рекламных интернет-кампаний.
				a.btn.start__btn(href="#tell-us") Оставить заявку

			.about__cards
				.about-card
					.about-card__title 10<span> лет</span>
					.about-card__text.text__24 мы работаем с российскими и зарубежными клиентами
				.about-card
					.about-card__title >600
					.about-card__text.text__24 проектов для крупных компаний практически во всех секторах экономики

			.about__cards
				.about-card.about-card--small.about-card--decor
					.about-card__title c 2010 года
					.about-card__text.text__24 мы реализовали более 600 различных проектов. Сотрудничали с креативными и рекламными агентствами, что позволило нам приобрести обширные связи и серьезные компетенции
				.about-card.about-card--small
					.about-card__title мы создаем
					.about-card__text.text__24 сайты и мобильные приложения, создаем игровые механики, проводим сложные интеграции с ERP, программами лояльности, разрабатываем дизайнпроектов для крупных компаний практически во всех секторах экономики

	section.section.section--top.section--bottom.about-socials
		.container
			.about-socials__list
				a.about-socials__item(href="javascript:void(0);") Telegram
				a.about-socials__item(href="javascript:void(0);") WhatsApp
				a.about-socials__item(href="https://vc.ru/u/4145713-itspacegroup") vc.ru

			.about-socials__video
				.about-socials__wdecor #SHOWREEL
				video(autoplay muted preload)
					source(src="https://pictures.s3.yandex.net/landings-video/Backend.webm" type="video/mp4")

	section.section.section--bottom.about-team
		.container
			.about-team__content
				.about-card
					.about-card__title >60
					.about-card__text.text__24 сотрудников работает в компании
				.about-card.about-card--small.about-card--square
					.about-card__title dreamteam
					.about-card__text.text__24 Наша команда — увлеченные энтузиасты и трудоголики, сообщество талантливых людей творческих и технических профессий, решающее задачи клиента 24/7

	section.section.section--bottom.about-areas
		.container
			.about-areas__card.about-card.about-card--small.about-card--circle
				.about-card__title ITS GROUP работает<br>в&nbsp;различных отраслях
				.about-card__text.text__24 FMCG, банки, финансы и&nbsp;страхование, медицина и&nbsp;фармацевтика, туризм, ритейл и&nbsp;e-commerce, IT, онлайн-сервисы, порталы и&nbsp;в&nbsp;многих других

	section.section.section--bottom.about-clients
		.container
			.about-clients__title.title__65 Клиенты
			.about-clients__text.text__24 Делаем так, чтобы бизнес клиента становился узнаваемым, эффективным и приносил больше дохода
			.about-clients__list
				.about-clients__item
					img(src="img/partners__slide__1.png" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__2.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__3.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__4.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__5.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__6.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__7.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__8.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__9.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__10.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__11.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__12.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__13.svg" alt="")
				.about-clients__item
					img(src="img/svg/partners__slide__15.svg" alt="")
		//-.partners
			.partners__slider.swiper-container.js-partners__slider
				.swiper-wrapper
					.partners__slide.swiper-slide
						img(src="img/partners__slide__1.png" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__2.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__3.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__4.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__5.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__6.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__7.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__8.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__9.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__10.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__11.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__12.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__13.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__14.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__15.svg" alt="")

					.partners__slide.swiper-slide
						img(src="img/partners__slide__1.png" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__2.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__3.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__4.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__5.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__6.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__7.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__8.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__9.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__10.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__11.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__12.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__13.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__14.svg" alt="")
					.partners__slide.swiper-slide
						img(src="img/svg/partners__slide__15.svg" alt="")