extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Статья блога"

block content
	.section.section--bottom.blog-article
		.container
			a.back-link(href="javascript:void(0);")
				svg
					use(xlink:href=`img/sprites/sprite.svg#arrow_long`)
				span Все статьи

			.blog-article__header
				.blog-article__title.title__65 Что такое SLA и кому он точно не нужен
				.blog-author
					.blog-author__photo
						img(src="img/blog/person_1.webp" alt="Виктор Иванов")
					div
						.blog-author__name Виктор Иванов
						.blog-author__position CEO
				a.blog-article__share.bordered-btn(href="javascript:void(0);")
					svg
						use(xlink:href=`img/sprites/sprite.svg#share`)
					span Поделиться

			.blog-article__body.text__style

				p В этой статье разберемся, что такое SLA, зачем нужно и почему иногда это лишь плата «за воздух». Статья для заказчиков, которым предложили заключить SLA, а также для компаний-разработчиков, чтобы эффективно использовать услугу.

				a.zoom-img(href="img/release_1.webp" data-fancybox="articleGroup1")
					img(src="img/release_1.webp" alt="")

				.text-fancy-links
					a.zoom-img(href="img/release_2.webp" data-fancybox="articleGroup1")
					a.zoom-img(href="img/release_3.webp" data-fancybox="articleGroup1")

				h2 Почему SLA — важная часть партнерства

				p SLA — (англ. Service Level Agreement) это соглашение об уровне сервиса, гарантирующее качественную разработку и оперативное решение проблем. Наши клиенты — не только крупные IT-компании, но и производственные организации, у которых нет собственных программистов в штате. Если происходит большой сбой, нужны разработчики, чтобы оперативно восстановить систему, это и гарантирует SLA.

				h2 Базовый SLA

				p В KOTELOV мы предоставляем два вида SLA. Есть базовый, наиболее оптимальный вариант. Многие наши клиенты выбирают именно его, и сейчас объясню, почему.

				p Мы выделяем часть рабочего дня сотрудника на решение проблем. Как правило, это минимум час в день (безусловно, может потребоваться больше, но у заказчика есть 20 часов специалиста в запасе). Остальное время наш разработчик занимается проектом заказчика (или другого проекта).

				p <b>Но есть нюанс</b>

				p Конечно, время реакции на инциденты может быть чуть больше. Но для многих проектов это вполне приемлемо. Мы оптимизируем ресурсы: специалист задействован в проектах и не сидит без дела. Клиент при этом получает качественный сервис по разумной цене.

				p Я считаю, что такой подход дает оптимальный баланс между стоимостью и уровнем обслуживания. Клиентам не приходится переплачивать, а мы можем эффективно использовать ресурсы команды.

				a.zoom-img(href="img/release_4.webp" data-fancybox="articleGroup2")
					img(src="img/release_4.webp" alt="")

				.text-fancy-links
					a.zoom-img(href="img/release_5.webp" data-fancybox="articleGroup2")
					a.zoom-img(href="img/release_6.webp" data-fancybox="articleGroup2")

				h2 Кому нужен SLA

				ul
					li Критически важные проекты: если сервис должен быть доступен 24/7 без права на ошибку (банковские приложения, системы жизнеобеспечения и т.п.).
					li Проекты с высоким трафиком: онлайн-магазины, социальные сети, платформы с миллионами пользователей.
					li Производственные предприятия: где простой минутный сбой может привести к большим убыткам.
					li Финансовый сектор: банки, страховые компании, где каждая секунда на счету и ошибки недопустимы.
					li Государственные учреждения: системы, обеспечивающие работу важных государственных сервисов.

				h2 Кому SLA НЕ нужен:

				ul
					li Небольшие проекты или стартапы: когда бюджет ограничен и можно позволить себе небольшие задержки в обслуживании.
					li Внутренние инструменты: если сервис используется только внутри компании и не критичен для ежедневной работы.
					li Проекты на этапе разработки или тестирования: когда продукт еще не вышел на рынок и возможны перебои.
