extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Case title"

block content
	.section.case__section
		.case
			.container
				.case__top
					h1.case__title.title__65
						!="Развиваемся <br> <span>в смежных областях</span>"
					.case__labels
						.case__label #Аналитика
						.case__label #Дизайн
				.case__text.text__style
					p Тут может быть еще какое то описание
			.case__content
				.block-preloader
					span.block-preloader__circle.block-preloader__circle-1
					span.block-preloader__circle.block-preloader__circle-2
					span.block-preloader__circle.block-preloader__circle-3
					span.block-preloader__circle.block-preloader__circle-4
					span.block-preloader__circle.block-preloader__circle-5
					span.block-preloader__circle.block-preloader__circle-6
					span.block-preloader__circle.block-preloader__circle-7
					span.block-preloader__circle.block-preloader__circle-8

				video.case__video( muted preload="auto" loop)
					<source src="https://pictures.s3.yandex.net/landings-video/Backend.webm" type="video/mp4">
				//- picture.case__picture 
				//- 	source(media="(man-width: 992px)", srcset="img/case__picture__1.png")
				//- 	img(src="img/case__picture__1.png", alt="")
			.case__content
				picture.case__picture 
					source(media="(man-width: 992px)", srcset="img/case__picture__1.png")
					img(src="img/case__picture__1.png", alt="")
			
			.container.container--inner
				.text__style
					h2 СберМобайл
					h3 СберМобайл
					p Тут может быть еще какое то описание
					ul
						li
							|adsfgh
							p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;asdfghjk
							ul
								li test
								li test
								li test
						li test
						li test
					p Тут может быть еще какое то описание
					video(autoplay muted preload)
						<source src="https://pictures.s3.yandex.net/landings-video/Backend.webm" type="video/mp4">
					a.zoom-img(href="img/case__picture__1.png" data-fancybox)
						img(src="img/case__picture__1.png", alt="")

					p Тут может быть еще какое то описание
					p Тут может быть еще какое то описание

					<ul>
					<li>
					<p>Создать онлайн-сервис, который позволит клиентам-дистрибьютерам компании, используя разработанную систему поиска,&nbsp; быстро находить оригинальные медицинские изделия и их аналоги.&nbsp;
					</p>
					</li>
					<li>
					<p>					Обеспечить резервирование данных позиций на складах(1С)
					</p>
					</li>
					<li>
					<p>					Реализовать возможность сотрудникам компании обрабатывать поступившие заказы в используемой учетной системе(1C).
					</p>
					</li>
					<li>
					<p>					Разработать удобный интерфейс заказа и дальнейшего отслеживания логистики(статусы обработки заказов) по выбранной продукции.
					</p>
					</li>
					</ul>
