extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Разработка";

block content
    section.section.section--top.section--bottom.dev-intro
        .container
            h1.section__title.dev-intro__title.title__99 Разработка
            .dev-intro__tags.text__24 • Frontend • Backend • iOS • Android • Api
            .dev-intro__bottom
                .dev-intro__text.text__24 разрабатываем приложения и&nbsp;веб-сервисы со&nbsp;множеством интеграций
                a.dev-intro__btn.btn.start__btn(href="#tell-us")
                    span Обсудить проект
    section.section.section--bg.dev-info
        .container
            h2.section__title.dev-info__title.title__65 Изучим и оценим проект, <span>бесплатно предложим дизайн-решение</span>
            .dev-info__cards
                .about-card.about-card--small
                    .about-card__title 300+
                    .about-card__text.text__24 реализованных проеĸтов, в основном — для ĸрупного бизнеса
                .about-card.about-card--small
                    .about-card__title middle +
                    .about-card__text.text__24 квалификация наших разработчиков
                .about-card.about-card--small
                    .about-card__title Сбер, VK, МТС
                    .about-card__text.text__24 уже сотрудничают с нами

    section.section.section--bg.dev-stack
        .container
            h2.section__title.dev-stack__title.title__65 Используем <span>востребованный стек</span>
            .dev-stack__cards
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-1.svg' alt="Nest js")
                    .stack-card__name Nest js
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-2.svg' alt="React")
                    .stack-card__name React
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-3.svg' alt="Vue")
                    .stack-card__name Vue
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-4.svg' alt="ASP.net")
                    .stack-card__name ASP.net
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-5.svg' alt="Java")
                    .stack-card__name Java
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-6.svg' alt="Kotlin")
                    .stack-card__name Kotlin
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-7.svg' alt="Kafka")
                    .stack-card__name Kafka
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-8.svg' alt="Docker")
                    .stack-card__name Docker
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-9.svg' alt="Swift")
                    .stack-card__name Swift
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-10.svg' alt="Angular")
                    .stack-card__name Angular
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-11.svg' alt="Redis")
                    .stack-card__name Redis
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-12.svg' alt="ClickHouse")
                    .stack-card__name ClickHouse
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-13.svg' alt="Prisma")
                    .stack-card__name Prisma
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-14.svg' alt="NATS")
                    .stack-card__name NATS
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-15.svg' alt="Next")
                    .stack-card__name Next
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-16.svg' alt="Laravel")
                    .stack-card__name Laravel
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-17.svg' alt="PostgreSQL")
                    .stack-card__name PostgreSQL
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-18.svg' alt="Typescript")
                    .stack-card__name Typescript
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-19.svg' alt="Yii2")
                    .stack-card__name Yii2
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-20.svg' alt="PHP")
                    .stack-card__name PHP
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-21.svg' alt="RabbitMQ")
                    .stack-card__name RabbitMQ
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-22.svg' alt="Grafana/k6")
                    .stack-card__name Grafana/k6
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-23.svg' alt="Jest")
                    .stack-card__name Jest

    section.section.section--bottom.section--top
        .partners
            .partners__slider.swiper-container.js-partners__slider
                .swiper-wrapper
                    .partners__slide.swiper-slide
                        img(src="img/partners__slide__1.png" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__2.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__3.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__4.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__5.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__6.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__7.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__8.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__9.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__10.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__11.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__12.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__13.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__14.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__15.svg" alt="")

                    .partners__slide.swiper-slide
                        img(src="img/partners__slide__1.png" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__2.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__3.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__4.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__5.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__6.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__7.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__8.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__9.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__10.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__11.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__12.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__13.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__14.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__15.svg" alt="")

