extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Разработка";

block content
    section.section.section--top.section--bottom.dev-intro
        .container
            h1.section__title.dev-intro__title.title__99 Разработка
            .dev-intro__tags.text__24 • Frontend • Backend • iOS • Android • Api
            .dev-intro__bottom
                .dev-intro__text.text__24 разрабатываем приложения и&nbsp;веб-сервисы со&nbsp;множеством интеграций
                a.dev-intro__btn.btn.start__btn(href="#tell-us")
                    span Обсудить проект

    section.section.section--bg.dev-info
        .container
            h2.section__title.dev-info__title.title__65 Изучим и оценим проект, <span>бесплатно предложим дизайн-решение</span>
            .dev-info__cards
                .about-card.about-card--small
                    .about-card__title 300+
                    .about-card__text.text__24 реализованных проеĸтов, в основном — для ĸрупного бизнеса
                .about-card.about-card--small
                    .about-card__title middle +
                    .about-card__text.text__24 квалификация наших разработчиков
                .about-card.about-card--small
                    .about-card__title Сбер, VK, МТС
                    .about-card__text.text__24 уже сотрудничают с нами

    section.section.section--bg.dev-stack
        .container
            h2.section__title.dev-stack__title.title__65 Используем <span>востребованный стек</span>
            .dev-stack__cards
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-1.svg' alt="Nest js")
                    .stack-card__name Nest js
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-2.svg' alt="React")
                    .stack-card__name React
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-3.svg' alt="Vue")
                    .stack-card__name Vue
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-4.svg' alt="ASP.net")
                    .stack-card__name ASP.net
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-5.svg' alt="Java")
                    .stack-card__name Java
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-6.svg' alt="Kotlin")
                    .stack-card__name Kotlin
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-7.svg' alt="Kafka")
                    .stack-card__name Kafka
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-8.svg' alt="Docker")
                    .stack-card__name Docker
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-9.svg' alt="Swift")
                    .stack-card__name Swift
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-10.svg' alt="Angular")
                    .stack-card__name Angular
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-11.svg' alt="Redis")
                    .stack-card__name Redis
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-12.svg' alt="ClickHouse")
                    .stack-card__name ClickHouse
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-13.svg' alt="Prisma")
                    .stack-card__name Prisma
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-14.svg' alt="NATS")
                    .stack-card__name NATS
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-15.svg' alt="Next")
                    .stack-card__name Next
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-16.svg' alt="Laravel")
                    .stack-card__name Laravel
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-17.svg' alt="PostgreSQL")
                    .stack-card__name PostgreSQL
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-18.svg' alt="Typescript")
                    .stack-card__name Typescript
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-19.svg' alt="Yii2")
                    .stack-card__name Yii2
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-20.svg' alt="PHP")
                    .stack-card__name PHP
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-21.svg' alt="RabbitMQ")
                    .stack-card__name RabbitMQ
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-22.svg' alt="Grafana/k6")
                    .stack-card__name Grafana/k6
                .stack-card
                    .stack-card__img
                        img(src='img/stack/stack-23.svg' alt="Jest")
                    .stack-card__name Jest

    section.section.section--bottom.section--top
        .partners
            .partners__slider.swiper-container.js-partners__slider
                .swiper-wrapper
                    .partners__slide.swiper-slide
                        img(src="img/partners__slide__1.png" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__2.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__3.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__4.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__5.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__6.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__7.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__8.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__9.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__10.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__11.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__12.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__13.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__14.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__15.svg" alt="")

                    .partners__slide.swiper-slide
                        img(src="img/partners__slide__1.png" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__2.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__3.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__4.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__5.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__6.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__7.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__8.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__9.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__10.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__11.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__12.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__13.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__14.svg" alt="")
                    .partners__slide.swiper-slide
                        img(src="img/svg/partners__slide__15.svg" alt="")

    section.process
        .container 
            .process__title.title__65 Наш подход
            .process__cards
                .process__card.process__card--1.process-card
                    .process-card__num 1
                    .process-card__content
                        .process-card__title.title__35 Анализируем рынок
                        .process-card__text.text__18 Изучаем вашу нишу, аудиторию и конкурентов. На этом этапе мы состыковываемся в видении и продумываем приложение от и до. Выдвигаем гипотезы, которые помогут достичь результата и реализовываем их при разработке

                .process__card.process__card--2.process-card
                    .process-card__num 2
                    .process-card__content
                        .process-card__title.title__35 Проектируем
                        .process-card__text.text__18 Создаем интерактивную версию будущего продукта — прототип. Он нужен, чтобы еще до разработки показать, каким будет приложение. На этом этапе можем провести кастдев и получить обратную связь от аудитории

                .process__card.process__card--3.process-card
                    .process-card__num 3
                    .process-card__content
                        .process-card__title.title__35 Дизайним
                        .process-card__text.text__18 Продумываем концепцию, прорабатываем UX/UI, отрисовываем 3D и анимации. Наш дизайн занимает призовые места в конкурсах, но мы умеем не только красиво, но и уместно

                .process__card.process__card--4.process-card
                    .process-card__num 4
                    .process-card__content
                        .process-card__title.title__35 Программируем
                        .process-card__text.text__18 Проектируем архитектуру, структуру базы данных, документируем API. Пишем чистый код — продукт будет легко поддерживать

                .process__card.process__card--5.process-card
                    .process-card__num 5
                    .process-card__content
                        .process-card__title.title__35 Тестируем
                        .process-card__text.text__18 На каждом этапе, чтобы ни один баг не прошел! Приложения не тормозят, потому что мы заранее подготавливаем его к высоким нагрузкам

                .process__card.process__card--6.process-card
                    .process-card__num 6
                    .process-card__content
                        .process-card__title.title__35 Запускаем
                        .process-card__text.text__18 Разворачиваем проект на вашем сервере, наполняем контентом

                .process__card.process__card--7.process-card
                    .process-card__num 7
                    .process-card__content
                        .process-card__title.title__35 Поддерживаем и развиваем
                        .process-card__text.text__18 Составляем roadmap, формируем бэклоги на следующие спринты, выпускаем обновления каждые 2 недели

    section.cooperation
        .container 
            .cooperation__title.title__65 Форматы сотрудничества
            .cooperation__cards
                .cooperation__card
                    .cooperation__subtitle.title__35 Timе and Material
                    .cooperation__text.title__35 Сложным проектам с&nbsp;высокой неопределенностью и&nbsp;гибким планированием
                .cooperation__card
                    .cooperation__subtitle.title__35 Fixed Price
                    .cooperation__text.title__35 Подходит проектам со&nbsp;строгим ТЗ, предсказуемыми сроками бюджетом

    section.releases.section
        .container
            .releases__header
                .releases__title.title__65 Недавние проекты
                .releases__all.bordered-btn(href="javascript:void(0);")
                    span Смотреть все
            .releases__cards
                .releases__card.releases-card.releases-card--dark
                    a.releases-card__link(href="https://tverdomer.ru/" target="_blank")
                    .releases-card__img
                        img(src="img/release_1.jpg" alt="")
                    .releases-card__title tverdomer.ru
                .releases__card.releases-card
                    a.releases-card__link(href="https://www.bonum-trailer.ru/" target="_blank")
                    .releases-card__img
                        img(src="img/release_2.jpg" alt="")
                    .releases-card__title bonum-trailer.ru
                .releases__card.releases-card
                    a.releases-card__link(href="https://www.tn.ru/" target="_blank")
                    .releases-card__img
                        img(src="img/release_3.jpg" alt="")
                    .releases-card__title tn.ru
                .releases__card.releases-card
                    a.releases-card__link(href="https://vrf-mrv.ru/" target="_blank")
                    .releases-card__img
                        img(src="img/release_4.jpg" alt="")
                    .releases-card__title vrf-mrv.ru
                .releases__card.releases-card
                    a.releases-card__link(href="https://fishmarket.ru/" target="_blank")
                    .releases-card__img
                        img(src="img/release_5.jpg" alt="")
                    .releases-card__title fishmarket.ru
                .releases__card.releases-card
                    a.releases-card__link(href="https://kolkunovo.ru/" target="_blank")
                    .releases-card__img
                        img(src="img/release_6.jpg" alt="")
                    .releases-card__title kolkunovo.ru

    +reviews-section({
        title: 'Отзывы клиентов',
        items: [
            {
                text: 'За время работы над проектами, команда зарекомендовала себя как надежный, высококвалифицированный и инициативный партнер, ответственно подходящий к работе и решающий поставленные задачи в срок.',
                photo: 'img/blog/person_1.webp',
                name: 'Максим Соколов',
                position: 'Генеральный директор АО «Компания»'
            },
            {
                text: 'Крутая команда профессионалов, быстро адаптирующаяся под периодически изменяемые требования заказчика, качественно и в срок выполняющая поставленные задачи.',
                photo: 'img/blog/person_4.webp',
                name: 'Александра Борисова',
                position: 'Начальник отдела управления производственными ИТ-продуктами'
            },
            {
                text: 'За время работы над проектом разработчики показали себя как команда профессионалов, успешно решивших все поставленные перед ними задачи и достигнувших цели проекта.',
                photo: 'img/blog/person_2.webp',
                name: 'Олег Белимов',
                position: 'Руководитель проектов группы компаний'
            },
            {
                text: 'Рекомендуем компанию как надежного и компетентного партнера, который способен успешно реализовать сложные проекты и качественно выполнить поставленные задачи.',
                photo: 'img/blog/person_3.webp',
                name: 'Илья Макаркин',
                position: 'Директор проектов'
            },
            {
                text: 'Ребята разработали масштабную систему, которая требовала крайне высокую техническую экспертность и позволила поднять сервис на новый уровень.',
                photo: 'img/blog/person_5.webp',
                name: 'Мария Михайлова',
                position: 'Руководитель проектов цифровизации'
            }
        ],
        bottom: true
    })