extends ../layouts/default

block variables
    - const title = "Страницы";
    - const noTellUs = true;

block content
    style(type="text/css").
        .pages-list {
            padding: 40px 0 60px;
            border-bottom: 1px solid #7F8589;
        }

        .pages-list__links {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 20px;
            margin-top: 30px;
        }

        .pages-list__link {
            position: relative;
            font-size: 24px;
            text-decoration: none;
            color: #2A2A2A;
            transition: color 0.3s linear;
            line-height: 1.02em;
            min-height: 2.04em;

            span {
                font-size: 0.7em;
                opacity: 0.7;
            }
        }

        .pages-list__link:hover {
            color: #237AE9;
        }

        @media (max-width: 600px) {
            .pages-list__link {
                padding-right: 0;
                padding-top: 30px;
            }
        }

        @media (max-width: 1340px) {

            .pages-list__links {
                grid-gap: 15px;
                margin-top: 40px;
            }

            .pages-list__link {
                font-size: 20px;
            }
        }

        @media (max-width: 1023px) {
            .pages-list {
                padding: 85px 0 50px;
            }

            .pages-list__links {
                grid-template-columns: 1fr;
                grid-gap: 20px;
                margin-top: 40px;
            }

            .pages-list__link {
                min-height: auto;
            }
        }

    .section.pages-list
        .container
            h1.vacancies__title.title__65 Страницы

            .pages-list__links
                a.pages-list__link(href="index.html" target="_blank") Главная
                a.pages-list__link(href="cases.html" target="_blank") Кейсы
                a.pages-list__link(href="case.html" target="_blank") Кейс
                a.pages-list__link(href="partners.html" target="_blank") Партнерская программа
                a.pages-list__link(href="web.html" target="_blank") Сколько стоит
                a.pages-list__link(href="vacancies.html" target="_blank") Вакансии
                a.pages-list__link(href="vacancy.html" target="_blank") Вакансия
                a.pages-list__link(href="blog.html" target="_blank") Блог
                a.pages-list__link(href="article.html" target="_blank") Статья
                a.pages-list__link(href="about.html" target="_blank") О нас
                a.pages-list__link(href="requisites.html" target="_blank") Реквизиты
                a.pages-list__link(href="services.html" target="_blank") Услуги
                a.pages-list__link(href="service-webdev.html" target="_blank") Услуга - Веб разработка
                a.pages-list__link(href="service-support.html" target="_blank") Услуга - Техническая поддержка
                a.pages-list__link(href="service-b2b-lk.html" target="_blank") Услуга - B2B Личные кабинеты
                a.pages-list__link(href="service-corp-portals.html" target="_blank") Услуга - Корпоративные порталы
                a.pages-list__link(href="service-crm-erp.html" target="_blank") Услуга - Автоматизация CRM, ERP
                a.pages-list__link(href="service-accounting-system.html" target="_blank") Услуга - Интеграция учетных систем

block scripts
    script(src="js/vendor.js")