extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Partners"

block content
	.section.partners-page
		.container
			.partners-page__top
				h1.title__99 Меняем заинтересованных клиентов в наших услугах на&nbsp;деньги. <span>Единоразовая выплата за&nbsp;качественный лид -</span> <b>до 20 000 руб. + %</b>
				a.btn.btn.start__btn(href="#linkes") Читать условия
			.text__style#linkes
				h2 Условия партнерской программы: 
				p Интересующие нас направления:
				ul
					li Корпоративные порталы
					li Веб сервисы
					li B2B, B2С личные кабинеты
					li Сайты
					li Сложные интеграции
					li Автоматизация(внедерение CRM B24 и AMO)
					li Мобильные приложения
				p Бюджет проекта до <b>500 000 руб</b>. - единоразовая партнерская комиссия <b>10 000 руб</b>.<br>Бюджет проекта от <b>1 000 000 руб</b>. -  единоразовая партнерская комиссия <b>20 000 руб</b>. 
				ul
					li <b>15%</b>(при условии заключения договора) от всех ежемесячных поступлений от клиента на весь срок совместной работы.
				br
				h2 Как это работает? 
				ol
					li Отправляете заявку на участие в партнерской программе.
					li Знакомимся с вами, обсуждаем варианты совместной работы.
					li Присылаете лид(контакт заинтересованного лица/компании).
					li Мы проводим квалификацию лида, если интерес подтвержден, вы получаете единоразовое вознаграждение в размере до <b>20 000 руб</b>. 
					li Если с данным лидом(клиентом) подписывается договор на оказание услуг, по мимо единоразовой выплаты вы ежемесячно получаете партнерское <b>вознаграждение в размере 15%</b> от всех входящих платежей клиента. 
				br
				p <b>Для участия в партнерской программе заполните форму обратной связи ниже, мы не заставим себя долго ждать:</b> <br>*(Работаем с физическими, юридическими лицами, ИП, самозанятыми).