extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Реквизиты";

block content
	section.section.section--top.requisites-intro
		.container
			h1.section__title.requisites-intro__title.title__99 Реквизиты
			.requisites-intro__subtitle.title__28 работаем в диадок
			a.requisites-intro__download.bordered-btn(href="javascript:void(0);")
				svg
					use(xlink:href=`img/sprites/sprite.svg#download`)
				span Скачать PDF

	section.section.section--top.section--bottom.requisites-content
		.container
			.requisites-content__blocks
				.requisites-content__block
					.requisites-content__title.title__28 Агентство
					.requisites-content__list
						.requisites-content__row
							.requisites-content__name Полное наименование
							+copy-block({
								classes: 'requisites-content__value',
								text: 'ITS GROUP',
								copyText: 'ITS GROUP'
							})
						.requisites-content__row
							.requisites-content__name Генеральный директор
							+copy-block({
								classes: 'requisites-content__value',
								text: 'Иванов Иван Иванович',
								copyText: 'Иванов Иван Иванович'
							})
						.requisites-content__row
							.requisites-content__name ИНН
							+copy-block({
								classes: 'requisites-content__value',
								text: '0000000000',
								copyText: '0000000000'
							})
						.requisites-content__row
							.requisites-content__name КПП
							+copy-block({
								classes: 'requisites-content__value',
								text: '999999999',
								copyText: '999999999'
							})
						.requisites-content__row
							.requisites-content__name ОГРН
							+copy-block({
								classes: 'requisites-content__value',
								text: '3333333333333',
								copyText: '3333333333333'
							})

				.requisites-content__block
					.requisites-content__title.title__28 Банковские реквизиты
					.requisites-content__list
						.requisites-content__row
							.requisites-content__name Банк
							+copy-block({
								classes: 'requisites-content__value',
								text: 'ФИЛИАЛ “НИЖЕГОРОДСКИЙ” АО “АЛЬФА-БАНК” г. Нижний-Новгород',
								copyText: 'ФИЛИАЛ “НИЖЕГОРОДСКИЙ” АО “АЛЬФА-БАНК” г. Нижний-Новгород'
							})
						.requisites-content__row
							.requisites-content__name Р/c
							+copy-block({
								classes: 'requisites-content__value',
								text: '5555 5555 5555 5555',
								copyText: '5555 5555 5555 5555'
							})
						.requisites-content__row
							.requisites-content__name К/c
							+copy-block({
								classes: 'requisites-content__value',
								text: '1234 5678 9123 4567',
								copyText: '1234 5678 9123 4567'
							})
						.requisites-content__row
							.requisites-content__name БИК
							+copy-block({
								classes: 'requisites-content__value',
								text: '999999999',
								copyText: '999999999'
							})

				.requisites-content__block
					.requisites-content__title.title__28 Основной вид экономической деятельности
					.requisites-content__list
						.requisites-content__row
							.requisites-content__name ОКВЭД
							+copy-block({
								classes: 'requisites-content__value',
								text: '62.01',
								copyText: '62.01'
							})

				.requisites-content__block
					.requisites-content__title.title__28 Контакты
					.requisites-content__list
						.requisites-content__row
							.requisites-content__name Фактический адрес (г. Курск)
							+copy-block({
								classes: 'requisites-content__value',
								text: 'ул. Ленина, д.60, оф. 17',
								copyText: 'ул. Ленина, д.60, оф. 17'
							})
						.requisites-content__row
							.requisites-content__name Фактический адрес (г. Москва)
							+copy-block({
								classes: 'requisites-content__value',
								text: 'ул. Рождественка, д. 20/8, стр. 5, оф. 2',
								copyText: 'ул. Рождественка, д. 20/8, стр. 5, оф. 2'
							})
						.requisites-content__row
							.requisites-content__name Юридический адрес
							+copy-block({
								classes: 'requisites-content__value',
								text: '107031, г. Москва, ул. Рождественка, д. 20/8, стр. 5, оф. 2',
								copyText: '107031, г. Москва, ул. Рождественка, д. 20/8, стр. 5, оф. 2'
							})
						.requisites-content__row
							.requisites-content__name Сайт
							+copy-block({
								classes: 'requisites-content__value',
								text: 'https://itspace.group',
								copyText: 'https://itspace.group'
							})
						.requisites-content__row
							.requisites-content__name Электронная почта
							+copy-block({
								classes: 'requisites-content__value',
								text: 'mail@itspace.group',
								copyText: 'mail@itspace.group'
							})
						.requisites-content__row
							.requisites-content__name Телефон
							+copy-block({
								classes: 'requisites-content__value',
								text: '+7(499) 938-48-99',
								copyText: '+7(499) 938-48-99'
							})
