extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Услуги";
    - const noFooter = true;

block content

    section.services-common
        .container
            .services-common__container
                .services-common__left
                    h1.services-common__title.title__65 Автоматизируем бизнес-процессы
                    .services-common__text.text__18 Значимость этих проблем настолько очевидна, что разбавленное изрядной долей эмпатии, рациональное мышление требует анализа форм воздействия. Наше дело не так однозначно, как может показаться: социально-экономическое развитие способствует повышению качества форм воздействия.

                .services-common__list
                    a.services-common__item(href="javascript:void(0);" style="border-color: #A2C14B") Веб разработка
                    a.services-common__item(href="javascript:void(0);" style="border-color: #28A1CE") Заказная разработка информационных систем
                    a.services-common__item(href="javascript:void(0);" style="border-color: #28A1CE") Автоматизация процессов
                    a.services-common__item(href="javascript:void(0);" style="border-color: #019681") Интеграция сервисов в&nbsp;ИТ-инфраструктуру
                    a.services-common__item(href="javascript:void(0);" style="border-color: #28A1CE") Техническая поддержка 
                    a.services-common__item(href="javascript:void(0);" style="border-color: #28A1CE") Внедрение CRM и&nbsp;ERP систем