extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Услуги";

block content
	section.section.service-banner
		.service-banner__bg
			img(src="img/services/services_slider_bg_3.webp")
		.container.service-banner__container
			.service-banner__img
				img(src="img/services/services_slider_img_3.webp")
			h2.service-banner__title.title__99 Веб разработка <span>в ITS GROUP</span>
			.service-banner__tags
				.service-banner__tag Аналитика, исследования
				.service-banner__tag UI/UX
				.service-banner__tag Адаптивный дизайн
			.service-banner__text.text__18
				p Реализуем проекты для госструктур, крупного и среднего бизнеса
				p Знаем, как создавать цифровые сервисы, которые действительно решают ваши задачи
			.service-banner__bottom
				a.service-banner__btn.bordered-btn.bordered-btn--white(href="#tell-us")
					span Оставить заявку
				hr.service-banner__line

