extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Услуга - B2b Личные кабинеты";

block content
	section.section.service-banner
		.service-banner__bg
			<picture>
				<source srcset="img/services/b2b_banner_mob.webp" media="(max-width: 767px)" />
				<img src="img/services/b2b_banner.webp" />
			</picture>
		.container.service-banner__container
			//-.service-banner__img
				img(src="img/services/services_slider_img_3.webp")
			h2.service-banner__title.title__99 B2B Личные кабинеты <span>от ITS GROUP</span>
			.service-banner__tags
				.service-banner__tag Фронтенд
				.service-banner__tag Бэкенд
				.service-banner__tag Api
			.service-banner__text.text__18
				p Разрабатываем и внедряем личные кабинеты последние 10 лет.
				p Для всех решений: стандарты качества, бессрочная гарантия на весь наш код и отсутствие взломов/утечек.
			.service-banner__bottom
				a.service-banner__btn.bordered-btn.bordered-btn--white(href="#tell-us")
					span Оставить заявку
				hr.service-banner__line

	section.section.section--top.section--bottom.process.process--cols2
		.container 
			.process__title.title-mb.title__65 Преимущества
			.process__cards
				.process__card.process__card--2.process-card
					.process-card__num 1
					.process-card__content
						.process-card__title.title__35 Точно в срок
						.process-card__text.text__18 
							p Мы умеем контролировать сроки:
							p
								| — сразу делаем дорожную карту проекта с зависимостями, чтобы не было простоев
								<br>— планируем ресурсы
								<br>— в первую очередь уделяем внимание самому сложному: интеграциям, используя технологии Big Data при предобработке данных

				.process__card.process__card--3.process-card
					.process-card__num 2
					.process-card__content
						.process-card__title.title__35 Полный контроль
						.process-card__text.text__18 
							p Клиенты видят всю команду в системе постановки задач: все задачи, чеклисты, отчеты и обсуждение. Договоренности фиксируются в задачах, информация не теряется. Контроль сроков реализуем через диаграмму Ганта и ее регулярное обновление.
							p Наши тестировшики проверяют работу как вручную, так и через автоматические тесты. Что важно, мы это делаем не в конце всего проекта, а в конце каждого недельного этапа, что обеспечивает контроль качества.

				.process__card.process__card--4.process-card
					.process-card__num 3
					.process-card__content
						.process-card__title.title__35 Сопровождение
						.process-card__text.text__18 После сдачи мы сопровождаем проект, используя continuous integration — непрерывной отгрузки обновлений, и GIT для контроля версий.

				.process__card.process__card--6.process-card
					.process-card__num 4
					.process-card__content
						.process-card__title.title__35 Прозрачность
						.process-card__text.text__18 Отчетность каждый месяц, с детальным описанием каждой работы.

	section.section.section--bottom.dev-stack
		.container
			h2.section__title.dev-stack__title.title__65.title-mb Используем <span>востребованный стек</span>
			.dev-stack__cards
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-1.svg' alt="Nest js")
					.stack-card__name Nest js
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-2.svg' alt="React")
					.stack-card__name React
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-3.svg' alt="Vue")
					.stack-card__name Vue
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-8.svg' alt="Docker")
					.stack-card__name Docker
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-10.svg' alt="Angular")
					.stack-card__name Angular
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-11.svg' alt="Redis")
					.stack-card__name Redis
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-12.svg' alt="ClickHouse")
					.stack-card__name ClickHouse
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-13.svg' alt="Prisma")
					.stack-card__name Prisma
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-14.svg' alt="NATS")
					.stack-card__name NATS
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-15.svg' alt="Next")
					.stack-card__name Next
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-16.svg' alt="Laravel")
					.stack-card__name Laravel
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-17.svg' alt="PostgreSQL")
					.stack-card__name PostgreSQL
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-18.svg' alt="Typescript")
					.stack-card__name Typescript
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-19.svg' alt="Yii2")
					.stack-card__name Yii2
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-20.svg' alt="PHP")
					.stack-card__name PHP
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-21.svg' alt="RabbitMQ")
					.stack-card__name RabbitMQ
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-22.svg' alt="Grafana/k6")
					.stack-card__name Grafana/k6
				.stack-card
					.stack-card__img
						img(src='img/stack/stack-23.svg' alt="Jest")
					.stack-card__name Jest

	section.section.price.service-price
		.container 
			.price__title.title__65.title-mb Стоимость
			.price__cards
				.price__card.price-card
					.price-card__name.title__35 Сайт
						.price-card__text.text__18
					.price-card__cost.title__65!= '> 2 млн'
						.price-card__desc MVP - от 3 мес
					a(href="#").price-card__btn.btn--small посчитать точно

				.price__card.price-card
					.price-card__name.title__35 Веб-сервис
						.price-card__text.text__18 со сложными интеграциями
					.price-card__cost.title__65!= '> 2 млн'
						.price-card__desc MVP - от 3 мес
					a(href="#").price-card__btn.btn--small посчитать точно

				.price__card.price-card
					.price-card__name.title__35 CRM, ERP, PDM
						.price-card__text.text__18
					.price-card__cost.title__65!= '> 3.5 млн'
						.price-card__desc от 5 мес
					a(href="#").price-card__btn.btn--small посчитать точно

	section.cooperation
		.container 
			.cooperation__title.title-mb.title__65 Форматы сотрудничества
			.cooperation__cards
				.cooperation__card
					.cooperation__subtitle.title__35 Timе and Material
					.cooperation__text.title__35 Сложным проектам с&nbsp;высокой неопределенностью и&nbsp;гибким планированием
				.cooperation__card
					.cooperation__subtitle.title__35 Fixed Price
					.cooperation__text.title__35 Подходит проектам со&nbsp;строгим ТЗ, предсказуемыми сроками бюджетом

	section.section.about-work.section--bottom
		.container
			.about-work__title.title-mb.title__65 Подробнее о <span>корпоративных порталах</span>
			.about-work__desc.text__24 Тут бы какой-нибудь текст, типа краткого описания. Например, современные технологии достигли такого уровня, что социально-экономическое развитие однозначно определяет каждого участника как способного принимать собственные решения касаемо стандартных подходов.
			.about-work__blocks
				.about-work__block
					.about-work__subtitle.title__35 Какие задачи решают?
					+show-more
						.about-work__text.text__style
							ul
								li Личный кабинет, помимо контроля данных о клиенте и отправки заявок, может решать и нестандартные задачи:
								li Интеграция учетных записей клиентов с ЕСИА (верификация пользователей для замены офлайн-обращений);
								li Оформление и подписание договоров онлайн внутри ЛК;
								li Контроль задолженности и просмотр графика платежей, оформление справок, создание запросов в поддержку;
								li Просмотр данных личного счета (инвестиционного, например) и графиков динамики инвестиционных продуктов;
								li Управление подключенными услугами клиента и заказ новых услуг, пополнение счета;
								li Автоматизация создания и обработки заявок от клиентов, в том числе со сложными маршрутами;

				.about-work__block
					.about-work__subtitle.title__35 Миграция с Sharepoint и других систем
					+show-more
						.about-work__text.text__style
							p У нас богатый опыт миграции из Sharepoint и других систем в Битрикс24. Мы быстро перенесем все данные и бизнес-процессы, наладим заново интеграции и добавим новую функциональность.

				.about-work__block
					.about-work__subtitle.title__35 Проектирование и архитектура
					+show-more
						.about-work__text.text__style
							p Пишем раздельные ТЗ: одно описывает UX (опыт пользователя при работе с ЛК) и логику работы, второе — взаимодействие с внешними системами Заказчика: 1С, ERP, AXAPTA, SAP-системы и так далее.

							p Наша команда взаимодействует с IT-службой Заказчика и выясняет: есть ли API или его надо писать, меняемся ли данными через запросы или сервер очередей (RabbitMQ, ZMQ). При необходимости используем Swagger для создания API — сегодня это становится стандартом, например, в нашем проекте с Ростелекомом.

							p После проектирования мы проводим аудит архитектуры: нет ли избыточных или неполных запросов, будет ли система работать быстро?

				.about-work__block
					.about-work__subtitle.title__35 Производство: схема разработки, контроль версий, автотесты.
					+show-more
						.about-work__text.text__style
							p В процессе написания техзадания мы формируем схему блоков сайта с зависимостями: это позволяет программировать поэтапно, а также давать параллельные задачи программистам.

							p С помощью системы контроля версий на проект можно поставить сразу несколько программистов, причем их изменения легко отслеживать. Эта же технология применяется и при дальнейшей поддержке сайта.

				.about-work__block
					.about-work__subtitle.title__35 Сдача проекта: автотесты, нагрузочное тестирование, ПМИ
					+show-more
						.about-work__text.text__style
							p Мы пишем специальный документ: программу и методику испытаний. По ней проводится сдача системы. Также при сдаче проекта мы пишем автотесты (Selenium), далее в Allure смотрим наглядные отчеты по их прохождению.

							p Нагрузочное тестирование выполняется на сервере Заказчика, мы используем Яндекс.Танк и еще ряд сервисов.

	+cases-slider({
		classes: 'section--bottom'
	})

	+reviews-section({
		title: 'Отзывы клиентов',
		items: [
			{
				text: 'За время работы над проектами, команда зарекомендовала себя как надежный, высококвалифицированный и инициативный партнер, ответственно подходящий к работе и решающий поставленные задачи в срок.',
				photo: 'img/blog/person_1.webp',
				name: 'Максим Соколов',
				position: 'Генеральный директор АО «Компания»'
			},
			{
				text: 'Крутая команда профессионалов, быстро адаптирующаяся под периодически изменяемые требования заказчика, качественно и в срок выполняющая поставленные задачи.',
				photo: 'img/blog/person_4.webp',
				name: 'Александра Борисова',
				position: 'Начальник отдела управления производственными ИТ-продуктами'
			},
			{
				text: 'За время работы над проектом разработчики показали себя как команда профессионалов, успешно решивших все поставленные перед ними задачи и достигнувших цели проекта.',
				photo: 'img/blog/person_2.webp',
				name: 'Олег Белимов',
				position: 'Руководитель проектов группы компаний'
			},
			{
				text: 'Рекомендуем компанию как надежного и компетентного партнера, который способен успешно реализовать сложные проекты и качественно выполнить поставленные задачи.',
				photo: 'img/blog/person_3.webp',
				name: 'Илья Макаркин',
				position: 'Директор проектов'
			},
			{
				text: 'Ребята разработали масштабную систему, которая требовала крайне высокую техническую экспертность и позволила поднять сервис на новый уровень.',
				photo: 'img/blog/person_5.webp',
				name: 'Мария Михайлова',
				position: 'Руководитель проектов цифровизации'
			}
		],
		bottom: true
	})
