extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Услуги";

block content
	section.section.section--top.section--bottom.dev-intro
		.container
			h1.section__title.dev-intro__title.title__99 Услуги студии <span>ITS&nbsp;GROUP</span>

			.dev-intro__bottom
				.dev-intro__text.text__24 Мы предлагаем полный комплекс услуг для проектов любого уровня сложности и стадии готовности — от начальной, когда есть лишь идея, до поддержки готового ресурса
				a.dev-intro__btn.btn.start__btn(href="#tell-us")
					span Обсудить проект

	section.section.services-list
		.container
			//-.services-list__items
				.services-list__item.services-elem
					.services-elem__aside
						.services-elem__header
							.services-elem__title Веб-разработка                                        
								<span class="hover-gradient__icon">
									<svg width="24" height="23" viewBox="0 0 24 23" fill="none">
										<path d="M2.20703 20.8034L21.0105 2" stroke="currentColor" stroke-width="4"></path>
										<path d="M2.96045 2H21.0104V21" stroke="currentColor" stroke-width="4"></path>
									</svg>
								</span>

							.services-elem__projects
								<span>300+</span> проектов

							.services-text__group
								<div class="services-text__label">CMS
								<div class="services-text__val">1C-Bitrix, Wordpress, Mod X, Tilda

							.services-text__group
								<div class="services-text__label">Front-end
								<div class="services-text__val">React, React Native, Vue

							.services-text__group
								<div class="services-text__label">Back-end 
								<div class="services-text__val">yii|yii2, Laravel, Symfony, Python, Django, Celery, Java, Spring framework

							.services-text__group
								<div class="services-text__label">Devops
								<div class="services-text__val">Docker, Kubernetes, NGINX

									<div class="services-link__desktop">
								<a class="services-link" href="/upload/iblock/45f/6c1o1zcrmxvfmo2l4bc3tfmfsokb0s3i/Prezentatsiya-Notamedia.pdf" target="_blank">
									<div class="services-link__icon">
										<img src="/local/templates/.default/markup_notamedia/build/images/svg/pdf.svg" alt="Иконка ПДФ">
									<div class="services-link__text">
										Скачать презентацию                                        
								</a>


									<div class="services-elem__body">
								.services-elem__projects<span>300+</span> проектов


									<div class="services-elem__content">
										<ul>
											<li>Аналитика, исследования</li>
												<li>Проектирование UI/UX</li>
												<li>Адаптивный дизайн</li>
												<li>Верстка</li>
												<li>Разработка логики, интеграция шаблонов с CMS</li>
												<li>Внедрение</li>
												<li>Наполнение контентом</li>
												<li>Тестирование</li>
												<li>Поддержка</li>
					</ul>

					<div class="services-link__mob">
					<a class="services-link" href="/upload/iblock/45f/6c1o1zcrmxvfmo2l4bc3tfmfsokb0s3i/Prezentatsiya-Notamedia.pdf" target="_blank">
						<div class="services-link__icon">
							<img src="/local/templates/.default/markup_notamedia/build/images/svg/pdf.svg" alt="Иконка ПДФ">

						<div class="services-link__text">
							Скачать презентацию                                
					</a>


						.services-list__item.services-elem
							.services-elem__aside
								.services-elem__header
									.services-elem__title
										<a class="hover-gradient" href="https://agency.nota.media/services/mobile-development/" data-text="Мобильная разработка">Мобильная разработка                                        <span class="hover-gradient__icon">
					<svg width="24" height="23" viewBox="0 0 24 23" fill="none">
						<path d="M2.20703 20.8034L21.0105 2" stroke="currentColor" stroke-width="4"></path>
						<path d="M2.96045 2H21.0104V21" stroke="currentColor" stroke-width="4"></path>
					</svg>
					</span>
						</a>

							.services-elem__projects
								<span>30+</span> проектов

							services-text__group
								<div class="services-text__label">Native
								<div class="services-text__val">iOS/Android

						.services-text__group
							<div class="services-text__label">Кросс-платформы
							<div class="services-text__val">Flutter, Xamarin, React Native


								<div class="services-elem__body">
						.services-elem__projects<span>30+</span> проектов


							<div class="services-elem__content">
								<ul>
									<li>Аналитика, исследования</li>
										<li>Проектирование UI/UX</li>
										<li>Разработка: нативная, кросс-платформенная</li>
										<li>Публикация</li>
										<li>Тестирование</li>
										<li>Поддержка</li>
											</ul>


												.services-list__item.services-elem
													.services-elem__aside
														.services-elem__header
															.services-elem__title
																Аналитика и дизайн                                                            
															.services-elem__projects
																<span>150+</span> проектов


																	<div class="services-elem__body">
						.services-elem__projects<span>150+</span> проектов


							<div class="services-elem__content">
								<div class="tabs">
							<div class="services-tabs">
								<ul class="services-tabs__head js-tabs">
								<li class="active">UX/UI</li>
								<li>Дизайн-системы</li>
								<li>Имиджевое промо</li>
								<li>Визуализация данных</li>
								</ul>

							<div class="tab">
								<ul>
								<li>Аналитика</li>
								<li>Комплексные исследования</li>
								<li>Проектирование UI/UX</li>
								<li>Информационный дизайн</li>
								<li>Промо</li>
								<li>Юзабилити тестирование сайта или прототипов</li>
								</ul>

							<div class="tab" style="display: none;">
								<ul>
								<li>Библиотеки компонентов</li>
								<li>Паттерны и принципы дизайна, с учетом философии компании</li>
								<li>Единый визуальный стиль для всех элементов дизайна</li>
								<li>Инструкции для дизайнеров и разработчиков</li>
								</ul>

							<div class="tab" style="display: none;">
								<ul>
								<li>Брендинговые материалы</li>
								<li>Промо-сайты с нестандартной графикой</li>
								<li>Digital-маркетинг</li>
								</ul>

							<div class="tab" style="display: none;">
								<ul>
								<li>Создание дашбордов</li>
								<li>Креативное оформление инфографики и отчетов</li>
								<li>Разработка и внедрение инструментов для анализа больших данных</li>
								</ul>



							.services-list__item.services-elem
								.services-elem__aside
									.services-elem__header
										.services-elem__title
											<a class="hover-gradient" href="/services/branding/" data-text="Брендинг">Брендинг                                        <span class="hover-gradient__icon">
											<svg width="24" height="23" viewBox="0 0 24 23" fill="none">
												<path d="M2.20703 20.8034L21.0105 2" stroke="currentColor" stroke-width="4"></path>
												<path d="M2.96045 2H21.0104V21" stroke="currentColor" stroke-width="4"></path>
											</svg>
											</span>
												</a>

										.services-elem__projects
											<span>100+</span> проектов

												<div class="services-link__desktop">
											<a class="services-link" href="/upload/iblock/1fe/g4b3mfr0j7evh0b30bkhnmiaoud8y16n/Brending-2024.pdf" target="_blank">
												<div class="services-link__icon">
													<img src="/local/templates/.default/markup_notamedia/build/images/svg/pdf.svg" alt="Иконка ПДФ">
												<div class="services-link__text">
													Скачать презентацию                                        
											</a>


												<div class="services-elem__body">
						.services-elem__projects<span>100+</span> проектов


							<div class="services-elem__content">
								<ul>
									<li>Разработка платформ бренда</li>
										<li>Нейминг, разработка слогана</li>
										<li>Логотип, фирменный стиль</li>
										<li>Разработка принтов и сувенирных материалов</li>
											</ul>

												<div class="services-link__mob">
										<a class="services-link" href="/upload/iblock/1fe/g4b3mfr0j7evh0b30bkhnmiaoud8y16n/Brending-2024.pdf" target="_blank">
											<div class="services-link__icon">
												<img src="/local/templates/.default/markup_notamedia/build/images/svg/pdf.svg" alt="Иконка ПДФ">

											<div class="services-link__text">
												Скачать презентацию                                
										</a>


							.services-list__item.services-elem
								.services-elem__aside
									.services-elem__header
										.services-elem__title
											Консалтинг                                                            
										.services-elem__projects
											<span>150+</span> проектов


												<div class="services-elem__body">
						.services-elem__projects<span>150+</span> проектов


							<div class="services-elem__content">
								<ul>
									<li>Проводим аудит бизнес-процессов компании</li>
										<li>Определяем критерии качества продуктов и&nbsp;варианты их&nbsp;улучшения</li>
										<li>Даем рекомендации по развитию команд</li>
											</ul>


												.services-list__item.services-elem
													.services-elem__aside
														.services-elem__header
															.services-elem__title
																Продвижение                                                            
															.services-elem__projects
																<span>150+</span> проектов


																	<div class="services-elem__body">
						.services-elem__projects<span>150+</span> проектов


							<div class="services-elem__content">
								<ul>
									<li>Анализ рынка и конкурентов</li>
										<li>Unit-экономика</li>
										<li>
											<a class="hover-gradient" style="color: #00A53F" href="/services/seo/" data-text="SEO">SEO
											</a>
												</li>

													<li>Контекстная реклама</li>
													<li>Таргетинг</li>
													<li>SMM &amp; PR</li>
													<li>Автоматизация маркетинга </li>
													<li>Сквозная аналитика</li>
											</ul>


												.services-list__item.services-elem
													.services-elem__aside
														.services-elem__header
															.services-elem__title
																Разработка <br>технической <br>документации <br>по ГОСТ                                                            
															.services-elem__projects
																<span>150+</span> проектов


																	<div class="services-elem__body">
						.services-elem__projects<span>150+</span> проектов


							<div class="services-elem__content">
								<ul>
									<li>Технические проекты (ТЗ, ЧТЗ, ПЗ)</li>
										<li>Руководство пользователя, администратора</li>
										<li>Эксплуатационные документы</li>
										<li>Документы по информационной безопасности</li>
										<li>Программы и методики испытаний</li>
										<li>Оформление документов по стандартам</li>
										<li>ФЗ&nbsp;44/223 консалтинг и&nbsp;информационная поддержка</li>
										<li>Экспертиза документации</li>
										<li>Помощь по&nbsp;вопросам участия в&nbsp;торгах</li>
											</ul>


												.services-list__item.services-elem
													.services-elem__aside
														.services-elem__header
															.services-elem__title
																Гарантия                                                            
															.services-elem__projects
																<span>150+</span> проектов


																	<div class="services-elem__body">
						.services-elem__projects<span>150+</span> проектов


							<div class="services-elem__content">
								<ul>
									<li>Передаем исходные файлы и другие материалы согласно договору</li>
										<li>Передаем все необходимые юридические права</li>
										<li>В течение 1 года исправляем проблемы и неполадки, возникшие после запуска продукта</li>
											</ul>