extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Вакансии";
	- const noTellUs = true;

block content
	.section.section--top.section--bottom.vacancies
		.container
			h1.section__title.title__65.title-mb Вакансии

			+radio-block({
				classes: '',
				name: 'vacancies-category',
				vMode: 'tags',
				type: 'radio',
				items: [
					{
						name: 'Все <span>15</span>',
						value: 'Все'
					},
					{
						name: 'Разработка <span>11</span>',
						value: 'Разработка'
					},
					{
						name: 'Отдел продаж <span>4</span>',
						value: 'Отдел продаж'
					}
				]
			})

			.vacancies__content
				.vacancies__filters
					+radio-block({
						classes: '',
						name: 'vacancies-location',
						vMode: 'links',
						type: 'radio',
						items: [
							{
								name: 'Все <span>15</span>',
								value: 'Все'
							},
							{
								name: 'Курск <span>6</span>',
								value: 'Курск'
							},
							{
								name: 'Удалённая работа <span>7</span>',
								value: 'Удалённая работа'
							},
							{
								name: 'Москва <span>2</span>',
								value: 'Москва'
							},
						]
					})
				.vacancies__list
					+v-card({
						title: 'Системный администратор Linux',
						category: 'Разработка',
						location: 'Курск'
					})
					+v-card({
						title: 'Тестировщик',
						category: 'Разработка',
						location: 'Курск'
					})
					+v-card({
						title: 'Менеджер по развитию',
						category: 'Отдел продаж',
						location: 'Удаленная работа'
					})
					+v-card({
						title: 'Системный аналитик (Mid/Sen)',
						category: 'Разработка',
						location: 'Удаленная работа'
					})
					+v-card({
						title: 'Java разработчик',
						category: 'Разработка',
						location: 'Удаленная работа'
					})
					+v-card({
						title: 'Android разработчик',
						category: 'Разработка',
						location: 'Удаленная работа'
					})
					+v-card({
						title: 'QA auto (Java)',
						category: 'Разработка',
						location: 'Удаленная работа'
					})
					+v-card({
						title: 'Аккаунт директор',
						category: 'Отдел продаж',
						location: 'Москва'
					})
					+v-card({
						title: 'Системный/бизнес аналитик (Mid/Mid+)',
						category: 'Разработка',
						location: 'Удаленная работа'
					})
					+v-card({
						title: 'Программист 1C (Mid/ Sen)',
						category: 'Разработка',
						location: 'Курск'
					})
					+v-card({
						title: 'Sales 1C (Mid/ Sen)',
						category: 'Отдел продаж',
						location: 'Курск'
					})
					+v-card({
						title: 'Исследователь',
						category: 'Разработка',
						location: 'Москва'
					})
					+v-card({
						title: 'Sales Manager',
						category: 'Отдел продаж',
						location: 'Курск'
					})
					+v-card({
						title: 'Project Manager',
						category: 'Разработка',
						location: 'Курск'
					})
					+v-card({
						title: '1С Разработчик',
						category: 'Разработка',
						location: 'Удаленная работа'
					})