.services-list {

    &__items {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.services-elem {
    display: flex;
    gap: 64px;
    align-items: stretch;
    padding-top: 40px;
    border-top: 1px solid $greyHover;

    @include max(lg) {
        gap: 48px;
    }

    @include max(md) {
        gap: 32px;
    }

    @include max(sm) {
        flex-direction: column;
    }

    &__aside {
        flex: 0 0 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;

        @include max(lg) {
            flex: 0 0 410px;
            gap: 32px;
        }

        @include max(md) {
            flex: 0 0 260px;
            gap: 24px;
        }

        @include max(sm) {
            flex: 0 0 auto;
        }

        @include max(xs) {
            gap: 12px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 16px;
        color: $fonBlack;
        text-decoration: none;
        transition: all $tr-time linear;
        width: fit-content;

        @include max(xs) {
            font-size: 24px;
        }

        &:hover {
            color: $blue;
        }

        &--nolink:hover {
            color: $fonBlack
        }
    }

    &__group {
        font-size: 18px;
        color: $greyBlack;
        line-height: 1.2em;

        @include max(md) {
            font-size: 16px;
        }

        @include max(sm) {
            order: 2;
        }
    }

    &__val {
        opacity: 0.6;
        margin-top: 8px;

        @include max(md) {
            margin-top: 4px;
        }
    }

    &__btn {
        width: fit-content;
    }

    &__icon {
        transition: all $tr-time linear;

        svg {
            color: $blue;
            width: 24px;
            height: 24px;

            @include max(xs) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__title:hover &__icon {
        transform: rotate(45deg);
    }

    &__projects {
        color: $greyBlack;
        opacity: 0.6;
        font-size: 14px;
        line-height: 1.2em;

        span {
            font-size: 1.86em;
            line-height: 1.2em;
        }

    }

    &__content {
        flex: 1 1 auto;
        max-width: calc(100% - 550px - 64px);

        @include max(lg) {
            max-width: calc(100% - 410px - 48px);
        }

        @include max(md) {
            max-width: calc(100% - 260px - 32px);
        }

        @include max(sm) {
            max-width: 100%;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: 24px;
            line-height: 1.2em;
            font-weight: 400;

            @include max(lg) {
                font-size: 22px;
            }

            @include max(sm) {
                font-size: 18px;
                gap: 12px;
            }

            @include max(xs) {
                font-size: 16px;
            }
        }

        a {
            text-decoration: none;
            color: $blue;
            opacity: 0.8;
            transition: all $tr-time linear;

            &:hover {
                opacity: 1;
            }
        }
    }
}