.service-banner {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 70px 0 90px;
    min-height: calc(100dvh - 73px);

    @include max(mdHeader) {
        min-height: calc(100dvh - 55px);
    }

    @include max(sm) {
        padding: 32px 0 48px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 48px;

        @include max(md) {
            gap: 32px;
        }
    }

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    &__title {
        position: relative;
        color: $white;
        text-transform: uppercase;
        line-height: 1.2em;
        max-width: 1035px;

        @include max(xs) {
            font-size: 40px;
        }

        span {
            display: flex;
            color: $white;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px $white;
        }
    }

    &__tags {
        position: relative;
        display: flex;
        align-items: center;
        gap: 24px;

        @include max(lg) {
            display: grid;
            grid-template-columns: repeat(2, minmax(340px, 340px));
        }

        @include max(md) {
            grid-template-columns: repeat(2, minmax(270px, 270px));
        }

        @include max(sm) {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }

    &__tag {
        font-size: 22px;
        line-height: 1.1em;
        color: $white;
        width: fit-content;

        @include max(md) {
            font-size: 18px;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 22px;
            height: 10px;
            border-left: 3px solid $white;
            border-bottom: 3px solid $white;
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-44deg);
            transform: rotate(-44deg);
            margin-right: 12px;
            margin-bottom: 6px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 48px;

        @include max(lg) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include max(md) {
            gap: 32px;
        }
    }

    &__btn {
        width: fit-content;
        flex: 0 0 auto;
    }

    &__line {
        flex: 1 1 auto;
        border-color: $white;

        @include max(lg) {
            width: 100%;
        }
    }

    &__img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(25%, -50%);
        width: 53%;

        img {
            width: 100%;
        }
    }

    &__text {
        position: relative;
        display: flex;
        gap: 64px;
        color: $white;

        @include max(md) {
            gap: 32px;
            flex-wrap: wrap;
        }

        @include max(lg) {
            order: 2;
        }

        @include max(xs) {
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 16px;
        }

        &>* {
            flex: 0 0 380px;

            @include max(md) {
                flex: 0 0 calc((100% - 32px) / 2);
            }
        }
    }

}

.service-price.price {
    .price__title {

        @include max(767) {
            font-size: 65px;
        }

        @include max(560) {
            font-size: 40px;
        }
    }
}