.services-common {
    &__container {
        display: flex;
        align-items: center;
        gap: 64px;

        @include max(lg) {
            gap: 48px;
        }

        @include max(md) {
            gap: 32px;
        }

        @include max(md) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include max(xs) {
            gap: 0;
        }
    }

    &__left {
        flex: 0 0 624px;

        @include max(lg) {
            flex: 0 0 410px;
        }

        @include max(md) {
            flex: 0 0 auto;
        }

    }

    &__title {
        font-weight: 500;

        @include max(lg) {
            font-size: 40px;
        }

        @include max(md) {
            font-size: 32px;
        }

        @include max(sm) {
            font-size: 35px;
            letter-spacing: -0.035em;
        }

        @include max(xs) {
            font-size: 28px;
        }
    }

    &__text {
        margin-top: 32px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 16px;

        @include max(xs) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            margin-top: 24px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        border-width: 1px;
        border-style: solid;
        text-transform: uppercase;
        padding: 5px;
        line-height: 1.2em;
        transition: all $tr-time linear;
        font-size: 14px;
        color: $fonBlack;
        text-decoration: none;

        &:hover {
            border-color: $blue !important;
            background-color: $blue;
            color: $white;
        }

        @include max(lg) {
            font-size: 14px;
        }

        @include max(md) {
            font-size: 12px;
        }
    }
}