.vacancies {
    &__content {
        display: flex;
        align-items: flex-start;
        gap: 64px;
        margin-top: 48px;

        @include max(md) {
            gap: 48px;
        }

        @include max(sm) {
            flex-direction: column;
            gap: 16px;
            margin-top: 32px;
        }
    }

    &__filters {
        flex: 0 0 auto;
    }

    &__list {
        flex: 1 1 auto;

        @include max(sm) {
            width: 100%;
        }
    }
}

.vacancy {
    &__content {

        margin-top: 64px;

        @include max(sm) {
            margin-top: 32px;
        }
    }

    &__location {
        font-weight: 400;
        width: fit-content;
        margin-top: 32px;
        padding: 8px 32px;
        border: 2px solid $blue;
        border-radius: 32px;

        @include max(sm) {
            margin-top: 24px;
        }

        @include max(xs) {
            margin-top: 16px;
            padding: 4px 24px;
        }
    }

    &__desc {
        flex: 1 1 auto;
        font-size: 18px;
        font-weight: 400;

        @include max(md) {
            font-size: 16px;
        }

        @include max(sm) {
            width: 100%;
        }

        @include max(xxs) {
            font-size: 14px;
        }

        h2,
        h3 {
            font-size: 32px;
            margin-bottom: 0.75em;
            margin-top: 1.25em;
            font-weight: 500;

            @include max(md) {
                font-size: 28px;
            }

            @include max(xs) {
                font-size: 24px;
            }

            @include max(xxs) {
                font-size: 20px;
            }
        }

        ul {
            padding: 0 0 0 1.2em;
            list-style: disc;
            display: flex;
            flex-direction: column;
            gap: 0.8em;
        }

        &>*:first-child {
            margin-top: 0;
        }

        &>*:last-child {
            margin-bottom: 0;
        }
    }
}

.vacancy-response {
    &__content {
        display: flex;
        align-items: flex-start;
        gap: 48px;
    }
}

.vacancy-flex {
    display: flex;
    align-items: flex-start;
    gap: 48px;

    @include max(md) {
        flex-direction: column;
    }

    @include max(sm) {
        gap: 32px;
    }

    &__title {
        margin-bottom: 0;

        @include max(lg) {
            font-size: 48px;
        }

        @include max(xs) {
            margin-bottom: 0;
        }
    }

    &__left {
        flex: 0 0 530px;

        @include max(lg) {
            flex-basis: 350px;
        }

        @include max(md) {
            flex-basis: auto;
        }
    }

    &__right {
        flex: 1 1 auto;

        @include max(md) {
            width: 100%;
        }
    }
}