extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"

block content
	.start__section.section
		.container
			.hashtag
				a(href="#").hashtag__item #Аналитика
				a(href="#").hashtag__item #Дизайн
				a(href="#").hashtag__item #Фронтэнд
				a(href="#").hashtag__item #Бэкэнд
			.start
				.start__col
					.start__desc
						.start__title.title__99
							!='IT решения <br> <span class="big">для</span> <span>бизнеса</span>'
						.start__text.text__18
							!="Разрабатываем корпоративные сайты и порталы, <br>интернет-магазины, каталоги, мобильные приложения,<br>сложные интеграции(1С, CRM, API)."
				.start__col
					.cube 
						img(src="img/cube.png", alt="")
				a(href="#tell-us").btn.btn.start__btn Оставить заявку
	
	.partners
		.partners__slider.swiper-container.js-partners__slider
			.swiper-wrapper
				.partners__slide.swiper-slide
					img(src="img/partners__slide__1.png", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__2.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__3.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__4.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__5.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__6.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__7.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__8.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__9.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__10.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__11.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__12.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__13.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__14.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__15.svg", alt="")
			
				.partners__slide.swiper-slide
					img(src="img/partners__slide__1.png", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__2.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__3.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__4.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__5.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__6.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__7.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__8.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__9.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__10.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__11.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__12.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__13.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__14.svg", alt="")
				.partners__slide.swiper-slide
					img(src="img/svg/partners__slide__15.svg", alt="")
			


	#cases__section.cases__section.section.rellax(data-rellax-speed="1")
		.container
			.cases__title.title__99 Кейсы
			.cases
				.cases__col.rellax(data-rellax-speed="-5")
					a(href="#").case.case__big-margin
						.case__picture.case__picture--1
							picture 
								source(media="(max-width: 992px )", srcset="img/case__picture__1.png")
								img(src="img/case__picture__1.png", alt="")
						.case__desc
							.case__desc__title СберМобайл
							.case__desc__text.text__18 Тут может быть еще какое то описание
						//- .case__labels
						//- 	a(href="#").case__label #Аналитика
						//- 	a(href="#").case__label #Дизайн
						.case__labels
							.case__label #Аналитика
							.case__label #Дизайн

					a(href="#").case
						.case__picture.case__picture--2
							picture 
								source(media="(max-width: 992px )", srcset="img/case__picture__3.png")
								img(src="img/case__picture__3.png", alt="")
						.case__desc
							.case__desc__title Сбербанк
							//- .case__desc__text.text__18 Тут может быть еще какое то описание
						.case__labels
							.case__label #Дизайн
							.case__label #Аналитика
						//- .case__labels
						//- 	a(href="#").case__label #Дизайн
						//- 	a(href="#").case__label #Аналитика
				.cases__col.rellax(data-rellax-speed="-2")
					a(href="#").case
						.case__picture.case__picture--2
							picture 
								source(media="(max-width: 992px )", srcset="img/case__picture__2.png")
								img(src="img/case__picture__2.png", alt="")
						.case__desc
							.case__desc__title Московский комсомолец спорт
							.case__desc__text.text__18 
						.case__labels
							.case__label #Дизайн
							.case__label #Аналитика
						//- .case__labels
						//- 	a(href="#").case__label #Дизайн
						//- 	a(href="#").case__label #Аналитика

					a(href="#").case.case__big-margin
						.case__picture.case__picture--1
							picture 
								source(media="(max-width: 992px )", srcset="img/case__picture__4.png")
								img(src="img/case__picture__4.png", alt="")
						.case__desc
							.case__desc__title Haier
							.case__desc__text.text__18 Тут может быть еще какое то описание
						.case__labels
							.case__label #Аналитика
							.case__label #Дизайн
						//- .case__labels
						//- 	a(href="#").case__label #Аналитика
						//- 	a(href="#").case__label #Дизайн
	
	#developing__section.developing__section.section
		.container
			.developing__title.title__65 
				!="Эксперты <br> <span>в интеграциях</span>"
			.developing
				.developing__item
					.developing__item__title 
						!="1С"
					.developing__item__list
						ul
							li
								!="С сайтами"
							li
								!="С web-сервисами"
							li
								!="С CRM-системами"
				.developing__item
					.developing__item__title 
						!="CRM"
					.developing__item__list
						ul
							li
								!="Bitrix24"
							li
								!="Amo CRM"
							li
								!="Retail CRM"
				.developing__item
					.developing__item__title 
						!="API"
					.developing__item__list
						ul
							li
								!="Используем готовые решения"
							li
								!="Разрабатываем кастомные решения"
	#tell-us.tell-us__section.section
		.container
			.tell-us
				.tell-us__col
					.tell-us__title.title__65
						!="Расскажите нам<br><span>о вашем проекте</span>"			
					.tell-us__QR
						.tell-us__QR__title
							!="Если удобнее, пишите в телеграмм"
						.tell-us__QR__picture 
							img(src="img/qr.png", alt="",)
				.tell-us__col
					form.form
						.form__title 
							!="Какие задачи перед нами <br>стоят?"
						.form__checkbox
							<div class="checkbox">
								<input class="custom-checkbox" type="checkbox" id="form__check__1" name="form__check__1" value="indigo">
								<label for="form__check__1">Корпоративный сайт</label>
							</div>
							<div class="checkbox">
								<input class="custom-checkbox" type="checkbox" id="form__check__2" name="form__check__2" value="indigo">
								<label for="form__check__2">Интернет-магазин</label>
							</div>
							<div class="checkbox">
								<input class="custom-checkbox" type="checkbox" id="form__check__3" name="form__check__2" value="indigo">
								<label for="form__check__3">Корп. портал</label>
							</div>
							<div class="checkbox">
								<input class="custom-checkbox" type="checkbox" id="form__check__4" name="form__check__4" value="indigo">
								<label for="form__check__4">Личный кабинет</label>
							</div>
							<div class="checkbox">
								<input class="custom-checkbox" type="checkbox" id="form__check__5" name="form__check__5" value="indigo">
								<label for="form__check__5">Интернет-каталог</label>
							</div>
							<div class="checkbox">
								<input class="custom-checkbox" type="checkbox" id="form__check__6" name="form__check__3" value="indigo">
								<label for="form__check__6">Мобильное приложение</label>
							</div>
							<div class="checkbox">
								<input class="custom-checkbox" type="checkbox" id="form__check__7" name="form__check__4" value="indigo">
								<label for="form__check__7">Лендинг</label>
							</div>
						.contacts__form  
							.contacts__form__input-block.error
								input(type="text", name="").contacts__form__input.text__13
								.contacts__form__input-block__name 	Какие задачи перед нами стоят?
								.contacts__form__input-block__error Введите текст
							.contacts__form__input-block
								input(type="text", name="").contacts__form__input.text__13
								.contacts__form__input-block__name Ваше имя *
								.contacts__form__input-block__error Неправильное имя
							.contacts__form__input-block
								input(type="email", name="").contacts__form__input.text__13
								.contacts__form__input-block__name Ваш Email *
								.contacts__form__input-block__error Неправильный email
							.contacts__form__input-block
								input(type="tel", name="").contacts__form__input.js-mask-phone
								.contacts__form__input-block__name Ваш Телефон *
								.contacts__form__input-block__error Неправильное телефон
							.contacts__form__input-block
								select.contacts__form__select(name="")
									option 
									option До 500 тыс руб.
									option От 500 тыс до 1,5 млн руб.
									option От 1,5 млн до 5 млн руб.
									option От 5 млн руб.
									.localities-centers__select-arrow
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
										<path d="M2 2L10.1667 10.1667L18.3333 2" stroke="#2A2A2A" stroke-width="2" stroke-linecap="square"/>
										</svg>
						.form__buttons
							.form__buttons__text
								!="нажимая кнопку вы соглашаетесь согласие на обработку персональных данных"
							.btn--small.js-modalThanks Оставить заявку

