-
	const defaultReviewsSectionProps = {
		classes: '',
		title: '',
		items: [],
		top: false,
		bottom: false
	}

mixin reviews-section(props = defaultReviewsSectionProps)
	-
		const checkProps = {
			classes: props.classes ? props.classes : defaultReviewsSectionProps.classes,
			title: props.title ? props.title : defaultReviewsSectionProps.title,
			items: props.items ? props.items : defaultReviewsSectionProps.items,
			top: props.top ? props.top : defaultReviewsSectionProps.top,
			bottom: props.bottom ? props.bottom : defaultReviewsSectionProps.bottom
		}

		let topClass = checkProps.top == true ? ' section--top' : ''
		let bottomClass = checkProps.bottom == true ? ' section--bottom' : ''

	section.section.reviews-section(class= checkProps.classes + topClass + bottomClass)&attributes(attributes)
		.container
			.reviews-section__title.title__65.title-mb!= checkProps.title
			.reviews-section__slider(data-js="reviewsSlider")
				.swiper-wrapper
					- let i = 0
					- let slides = checkProps.items
					- while(i < slides.length)
						- slides[i].classes = 'swiper-slide'
						+review-card(slides[i])
						- i++

				+slider-controls


