header.its-header
	.its-header__left.its-header__side

		a(href="index.html").its-header__logo 
			img(src="img/logo.png" alt="logo")
		.its-header__menu
			a(href="#home-intro" data-js="headerMenuItem").its-header__menu__item.js-header__menu__item О компании
			a(href="#cases" data-js="headerMenuItem").its-header__menu__item.js-header__menu__item Кейсы<sup>+1</sup>
			a(href="#releases" data-js="headerMenuItem").its-header__menu__item.js-header__menu__item Недавние релизы
			a(href="#developing" data-js="headerMenuItem").its-header__menu__item.js-header__menu__item Экспертиза
			a(href="#footer" data-js="headerMenuItem").its-header__menu__item.js-header__menu__item Контакты

		a(href="#tell-us" data-js="headerMenuItem").btn.btn--small.its-header__menu__btn.js-header__menu__item Оставить заявку

	.its-header__right.its-header__side
		.its-header__soc
			a(href="https://t.me/itspacegroup_bot").its-header__other__item.its-header__other__item--icon
				svg
					use(xlink:href=`img/sprites/sprite.svg#tg`)
			a(href="mailto:mail@itspace.group").its-header__other__item.its-header__other__item--icon
				svg
					use(xlink:href=`img/sprites/sprite.svg#wt_current`)
			a(href="mailto:mail@itspace.group").its-header__other__item.its-header__other__item--icon
				svg
					use(xlink:href=`img/sprites/sprite.svg#vc_current`)

		<button class="hamburger hamburger--collapse" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		.its-header__other
			a(href="mailto:mail@itspace.group").its-header__other__item.its-header__other__item--icon
				svg
					use(xlink:href=`img/sprites/sprite.svg#mail`)
			a(href="tel:+74999384899").its-header__other__item.its-header__other__item--icon
				svg
					use(xlink:href=`img/sprites/sprite.svg#tel`)

.burger-menu__section(data-js="burgerMenuSection")
	.burger-menu
		.burger-menu__header 
			.burger-menu__logo
				img(src="img/logo.png" alt="logo")

			<button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>

		.burger-menu__list
			a(href="javascript:void(0);").burger-menu__list__item.js-header__menu__item  Кейсы <sup>+1</sup>
			a(href="javascript:void(0);").burger-menu__list__item.js-header__menu__item  Услуги
			a(href="javascript:void(0);").burger-menu__list__item.js-header__menu__item  Аутстафф
			a(href="javascript:void(0);").burger-menu__list__item.js-header__menu__item  Награды
		.burger-menu__bottom
			.burger-menu__fone.burger-menu__link
				a(href="tel:+74999384899") +7(499) 938-48-99
			.burger-menu__mail.burger-menu__link
				a(href="https://t.me/itspacegroup_bot") @itspacegroup_bot
			.burger-menu__mail.burger-menu__link
				a(href="mailto:mail@itspace.group") mail@itspace.group
			.btn.btn--small.burger-menu__btn.js-show-form(href="javascript:;") Оставить заявку
.burger-menu--overlay(data-js="burgerMenuOverlay")
