.footer__section 
	.container 
		.footer
			.footer__col
				.footer__desc
					.footer__title.title__65 	
						!="Всегда<br><span>на связи</span>"
					.footer__text.text__18 
						!="с 8 до 19 по МСК"
					.soc
						a(href="#").soc__item
							.soc__item__picture 
								img(src="img/svg/tg--white.svg", alt="logo")
						a(href="#").soc__item 
							.soc__item__picture 
								img(src="img/svg/wt.svg", alt="logo")
						//- a(href="#").soc__item
						//- 	.soc__item__picture 
						//- 		img(src="img/svg/sms-white.svg", alt="logo")
				.footer__years.text__18 
					!="ITS @2010-2023"
						
			.footer__col
				.footer__offices
					.footer__offices__row
						.footer__office
							.footer__office__title Москва
							a(href="mailto:mail@itspace.group").footer__office__item.footer__office__mail mail@itspace.group
							a(href="tel:+74999384899").footer__office__item.footer__office__tel +7(499) 938-48-99
							a(href="https://t.me/itspacegroup_bot").footer__office__item.footer__office__tg 
								!="@itspacegroup_bot"
								<svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
								<path d="M16.3933 16.5856V5.65674H5.4644" stroke="white" stroke-width="2"/>
								<path d="M16.5 5.5L6.6005 15.3995" stroke="white" stroke-width="2"/>
								</svg>
							.footer__office__item.footer__office__item--mob.footer__office__adress 
								!="107031, г. Москва, ул. Рождественка, д. 20/8, стр. 5, оф. 2"
						.footer__office
							.footer__office__title Курск
							a(href="mailto:mail@itspace.group").footer__office__item.footer__office__mail mail@itspace.group
							a(href="tel:+74999384899").footer__office__item.footer__office__tel +7(499) 938-48-99
							a(href="https://t.me/itspacegroup_bot").footer__office__item.footer__office__tg 
								!="@itspacegroup_bot"
								<svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
								<path d="M16.3933 16.5856V5.65674H5.4644" stroke="white" stroke-width="2"/>
								<path d="M16.5 5.5L6.6005 15.3995" stroke="white" stroke-width="2"/>
								</svg>
							.footer__office__item.footer__office__item--mob.footer__office__adress 
								!="305001, г.Курск, ул. Ленина, д.60, оф. 17"
					.footer__offices__row.footer__offices__row--desc
						.footer__office
							.footer__office__item.footer__office__adress 
								!="107031, г. Москва, ул. Рождественка, д. 20/8, стр. 5, оф. 2"
						.footer__office
							.footer__office__item.footer__office__adress 
								!="305001, г.Курск, ул. Ленина, д.60, оф. 17"
				a(href="#").footer__politics Политика конфиденциальности
#modalThanks.modalThanks(style="display:none")
	.modalThanks__wrap
		.modalThanks__title.title__65 
			!="Спасибо<br> <span>за заявку</span>"
		.modalThanks__text.text__18
			!="Наш менеджер свяжется с Вами в&nbspближайшее время"
	.modalThanks__close(data-fancybox-close) 
		<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
		<path d="M1 1L25 25M25 1L1 25" stroke="#1F2120" stroke-width="1.5"/>
		</svg>
